/* navbar */
*{
    margin: 0;
    padding: 0;
}

@font-face{
  font-family: 'OoredooHeavy';
  src: url("../fonts/Ooredoo-Heavy.woff2")format("woff");
}
@font-face{
  font-family: 'OoredooBold';
  src: url("../fonts/ooredoo-Bold_gdi.woff")format("woff");
}
@font-face{
  font-family: 'OoredooRegular';
  src: url("../fonts/ooredoo-Regular_gdi.woff")format("woff");
}
@font-face{
  font-family: 'OoredooLight';
  src: url("../fonts/ooredoo-Light_gdi.woff")format("woff2");
}

h1 ,h2 ,h3 {
  font-family: 'OoredooHeavy' ;
}
h4 ,h5 ,h6{
  font-family: 'OoredooHeavy' ;
}

  p {
    letter-spacing: 0.005em;
    font-family: 'OoredooRegular' ;
    /* line-height: 32px; */
  }
  
/* .nav-main{
    display: flex;
    width: 100%;
    background-color: antiquewhite;
    justify-content: space-around;
  }

  .nav-main ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }
 .logo{
      float: left;
  } */

/* form */
input[type=date].form-control::after{
  content: url(../img/icon-kalender.svg);
}
.bg-light{
  background-color: #FFFFFF !important;
}
/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  width: 100%;
  height: 62px;
  color: transparent;
  background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
  z-index: 1;
}

.form-control[type=date]::-webkit-inner-spin-button, 
.form-control[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}   

span.select2-selection.select2-selection--single {
  background: #F3FDFC;
  border: 0px solid rgba(47, 48, 46, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  height: 60px !IMPORTANT;
  padding-top: 10px;
}


button.btn.dropdown-toggle.btn-light {
  background: #F3FDFC;
  border: 1px solid rgba(47, 48, 46, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  height: 62px;
}

.btn-putih{
  /* display: flex !important; */
    font-family: 'Ooredoobold';
    font-style: normal;
    font-weight: 900;
    height: 62px !important;
    max-width: 628px;
    left: 0px !important;
    top: 0px !important;
    background: #FFFFFF !important;
border: 1px solid #2F302E !important;
box-sizing: border-box !important;
border-radius: 5px !important;
    color: black !important;
    padding: 18px !important;
    /* align-items: center; */
    /* justify-content: center; */
}

.btn-hitam{
  /* display: flex !important; */
    font-family: 'Ooredoobold';
    font-style: normal;
    font-weight: 900;
    height: 62px !important;
    max-width: 628px;
    left: 0px !important;
    top: 0px !important;
    border-radius: 5px !important;
    background: #2F302E !important;
    border-radius: 5px !important;
    color: white !important;
    padding: 18px !important;
    /* align-items: center; */
    /* justify-content: center; */
}

.is-salah{
  background: rgba(237, 28, 36, 0.2) !important;
/* Merah */

border: 1.5px solid #ED1C24 !important;
box-sizing: border-box !important;
border-radius: 5px !important;
}
.form-control-main{
  background: #F3FDFC;
border: 1px solid rgba(47, 48, 46, 0.3);
box-sizing: border-box;
border-radius: 5px;
height: 62px;
}
.form-control-main:focus{
  background: #F3FDFC !important;
/* Main Color */
border: 1.5px solid #2CD5C4 !important;
box-sizing: border-box !important;
border-radius: 5px !important;
box-shadow: none !important;
}

.progressbar {
  counter-reset: step;
}
.progressbar li {
  list-style: none;
  display: inline-block;
  width: 30.33%;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: 'Ooredoobold';
  font-size: 12px;
}
.progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 32px;
  height: 32px;
  line-height : 30px;
  border: 1px solid #2cd5c4;
  border-radius: 100%;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  background-color: #fff;
}
.progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 15px;
  left: -50%;
  z-index : -1;
}
.progressbar li:first-child:after {
  content: none;
}
.progressbar li.active {
  color: #000;
}
.progressbar li.active:before {
  border-color: #2cd5c4;
  background-color: #2cd5c4;
} 
.progressbar li.active + li:after {
  background-color: #2cd5c4;
}


  /* daftar */
  .bg-daftar {
    background-color: #2cd5c4;
    height: 100%;
}

  /* dashboard profile */
  .input-game-main{
    border-radius: 5px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
  }

  label.custom-file-label {
    /* padding: 20px 20px 40px 20px; */
    box-sizing: border-box;
    background-color: #ffffff00;
    border: 0px;
    padding:20px 20px;
  }
  span#inputGroupFileAddon01 {
    background: #2CD5C4;
    border-radius: 5px;
    padding: 20px;
    font-family: "ooredoobold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0.005em;
    text-align: left;
}

  .custom-file-label::after {
  content: '' !important;
  padding: 0px;
  border: 0px;
}

  .form-control-file, .form-control-range {
    display: block;
    width: 100%;
    padding: 25px;
    background: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 5px;
}

  .title-profile{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.005em;
text-align: left;
margin-bottom: 16px;
font-family: 'Ooredoobold';
  }
  .isi-profile{
font-size: 21px;
font-style: normal;
font-weight: 700;
line-height: 25px;
letter-spacing: 0.005em;
text-align: left;
margin-bottom: 48px;
font-family: 'Ooredoobold';
opacity: 0.6;
  }

  /* dashboard user */

  .img-avatar{
    border: 2px solid white;
    outline: 2px solid black;
    object-fit: cover;
    width: 140px;
    height: 140px;
  }
  .sidenavuser .icon-keluar-sidenav {
    position: absolute;
    bottom: 40px;
   left: 60px;
    font-size: 36px;
    margin-left: 50px;
}

a.icon-keluar-sidenav{
  font-size: 16px !important;
}
  .title-page-main{
    float: left;
    margin-top: 25px;
    padding: 0px 60px;
font-size: 16px;
font-style: normal;
opacity: 0.3;

  }
  .sidenavuser {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenavuser a {
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenavuser a:hover {
    color: #f1f1f1;
  }
  
  .sidenavuser .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenavuser {padding-top: 15px;}
    .sidenavuser a {font-size: 18px;}
  }


.btn-sertifikat-groub{
  width: 100%;
height: 30px;

background: #FFFFFF;

/* Main Color */

border: 1px solid #2CD5C4;
box-sizing: border-box;
border-radius: 20px;
font-family: 'Ooredooheavy';
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
text-align: center;
margin-right: 10px;
margin-left: 10px;
opacity: 0.3;
}
.btn-sertifikat-groub.active{
  opacity: 1;
  background-color: #2CD5C4;
}
.info-tahapan{
  font-size: 10px;
  margin: 0px;
  font-family: 'Ooredoobold';
  background-color:#FFCD00;
  padding: 0px 10px;
    margin-left: auto!important;
    margin-right: auto!important;
    opacity: 0;
}
.card-tahapan.active .info-tahapan{
  opacity: 1;
}
.card-tahapan{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #2CD5C4;
box-sizing: border-box;
border-radius: 10px;
padding: 24px;
opacity: 0.4;
height: 200px;
margin-bottom: 20px;
}
.card-tahapan.active{
  opacity: 1;
}

.icon-certificate{
  width: 14px;
}

.modal-content .icon-certificate{
  width: 40px;
}
.modal-content .card-nav{
  padding: 20px;
}

.card-nav{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -107.35%, #000000 257.35%);
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
}
.card:hover .card-nav.d-flex.justify-content-end{
  opacity: 1;
}

  .dashboard-user{
    width: 100px;
height: 30px;

background: #FFFFFF;
/* Main Color */

border: 1px solid #2CD5C4;
box-sizing: border-box;
border-radius: 20px;
  }

  .sidenavuser.daftar a.logomobile {
    position: absolute;
    top: 0;
}

  .sidenavuser.daftar a.closebtn {
    font-size: 27px;
    border: 1px solid #c7c7c7;
    padding: 0px 13px;
    border-radius: 100%;
    margin-top: 5px;
}

  .sidenavuser.daftar a{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    text-align: left;
    padding: 13px 32px;
    color: #000;
    font-family: 'OoredooBold';
  }

  .sidenavuser.daftar a.active{
    font-family: 'OoredooBold';
   background-color: #2cd5c456;
  }


  .topnavdashboarduser{
    overflow: hidden;
    background-color: #ffff;
    padding: 0px 15px;
    border-bottom: 1px solid #000;
  }
  .topnavdashboarduser a.logo{
    color: #818181;
  }
  .topnavdashboarduser a.logo:hover{
    background-color: #81818100 !important;
  }
  .topnavdashboarduser.daftar{
    position: absolute;
    width: 100%;
    z-index: 99;
    background: transparent;
    border: #8a2be200;
  }

  /* dashboarduser */
  .menu-toggle-userdashboard{
    display: flex;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
      }
    
      .menu-toggle-userdashboard span{
          display: block;
          width: 20px;
          height: 3px;
          background-color: black;
          border-radius: 3px;
          transition: all 0.5s;
      }
      .menu-toggle-userdashboard span:nth-child(1){
        /* transform: rotate(45deg) translate(-1px, -1px); */
        transform: scaleX(1.5);
        transform-origin: 0 0;
    }
    .menu-toggle-userdashboard span:nth-child(3){
        transform: scale(0);
    }
    
    /* hamburger animation*/
    .menu-toggle-userdashboard.responsive span:nth-child(1){
        transform: rotate(45deg) translate(-1px, -1px);
        transform-origin: 0 0;
    }
    /* .menu-toggle-userdashboard.responsive span:nth-child(0){
        transform: scale(0);
    } */
    .menu-toggle-userdashboard.responsive span:nth-child(3){
        transform: rotate(-45deg) translate(-2px, -1px);
        transform-origin: 0 0;
    }

.topnavdashboarduser a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 22px 0px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'OoredooBold';
}

.topnavdashboarduser a:hover {
  /* background-color: #2cd5c456; */
  color: black;
}

.topnavdashboarduser a.logo {
  padding-left: 50px;
}

.topnavdashboarduser a.logo:hover {
  background-color: #fff;
  color: black;
}

.topnavdashboarduser a.active {
  color: black;
}

.topnavdashboarduser .icon {
  display: none;
}

  /* enddashboarduser */

  
  /* form */
  .title-right-daftar-titik{
    font-family: 'Ooredooheavy';
font-size: 144px;
font-style: normal;
font-weight: 900;
line-height: 173px;
letter-spacing: 0.005em;
text-align: left;
height: 120px;
  }
 
  .topnav.daftar{
    /* position: absolute; */
    width: 100%;
    box-shadow: none;
    border-bottom: 1px solid;
  }
  .right-daftar{
    position: absolute;
    bottom: 0;
    left: 25%;
  }
  .title-right-daftar{
    font-family: 'Ooredooheavy';
font-size: 60px;
font-style: normal;
font-weight: 900;
line-height: 72px;
letter-spacing: 0.005em;
text-align: left;
margin-bottom: 32px;
  }
  .title-daftar{
    border-left: 5px solid #2CD5C4;  
    font-family: 'Ooredooheavy';
font-size: 36px;
font-style: normal;
font-weight: 900;
line-height: 43px;
letter-spacing: 0.005em;
text-align: left;
margin-bottom: 68px;
  }
  .title-daftar h1{
    margin-left: 32px;
  }
  .bg-form-main{
    background-color: #F3FDFC;
  }

  /* details berita */
  .date-details-berita{
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0.005em;
text-align: left;
opacity: 0.5;
margin-bottom: 24px;
  }
  .title-detils-berita{
    font-size: 36px;
    margin-top: 74px;
    margin-bottom: 17px;
  }

.frame-img-details-berita{
  display: flex;
  justify-content: center;
  height: 500px;
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  align-content: center;
}
.img-details-berita{
  width: 100%;
  object-fit: cover;
  height: 500px;
  border-radius: 20px;
}
/* pagination */
li.page-item {
  margin-left: 8px;
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  border: 0px;
  color: #000000;
  background-color: #fff;
  box-shadow: 0px 0px 40px rgb(0 0 0 / 25%);
  border-radius: 5px;
  font-family: 'OoredooHeavy';
}

.page-item.active .page-link {
  z-index: 3;
  color: rgb(0, 0, 0);
  background-color: #2CD5C4;
  border-color: #2CD5C4;
}

  .berita-list-text{
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.005em;
text-align: left;
margin-bottom: 50px;
color: black;
  }
  .berita-list-title{
color: black;
  }

  .background-ask-landing-layer1 {
    position: absolute;
    top: 286px;
    left: 15px;
    z-index: 99;
    width: 96%;
  }
  .background-ask-landing-layer2 {
    position: absolute;
    top: 0px;
    left: -100px;
    z-index: 99;
    width: 630px;
    height: 844px;
}
.img-ask-landing{
  position: relative;
  z-index: 999;
}
  .bg-wind-landing{
    background-image: url(../img/bg-wind.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-position-y: 70%;
    background-position-x: left;
  }
  .rectangle-landing{
    background-color: #2CD5C4;
    width: 35px;
    height: 35px;
    transform: rotate(
45deg);
    position: absolute;
  }
  .rectangle-landing-syarat{
    background-color: #2CD5C4;
    width: 35px;
    height: 35px;
    transform: rotate( 
45deg);
    margin-bottom: 87px;
    margin-left: 80%;
  }
  .rectangle-line-landing-syarat {
    height: 329px;
    width: 166px;
    border-radius: 0px;
    border: 1px solid black;
    position: absolute;
    top: 0px;
    z-index: 2;
}
.frame-header-landing{
  width: 530px;
  height: 340px;
  border-radius: 50px;
  overflow: hidden;
  float: right;
  position: relative;
  z-index: 1;
}
.frame-why-landing{
  border-radius: 193px;
    overflow: hidden;
    height: 100%;
    width: 90%;
    margin-right: 0px;
    position: relative;
  z-index: 99;
}

.frame-syarat-landing{
  border-radius: 0px 150px 0px 200px;
    overflow: hidden;
    /* height: 100%; */
    width: 90%;
    margin-bottom: 20px;
    margin-left: 20px;
    position: relative;
    z-index: 99;
    box-shadow: 2px 8px 35px 1px rgba(0, 0, 0, 0.1);
}
.img-berita-landing-big-fit{
  height: 490px;
  object-fit: cover;
  border-radius: 20px;
}

.img-berita-landing-fit{
  height: 130px;
  object-fit: cover;
  border-radius: 20px;
}
.img-berita-list-fit{
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}
.ornament-why-landing-layer1 {
  border: 1px solid black;
  border-radius: 193px;
  position: absolute;
  height: 100%;
  width: 80%;
  left: 10%;
  top: 2%;
  z-index: 2;
}

.ornament-why-landing-layer2 {
  border: 1px solid black;
  border-radius: 193px;
  position: absolute;
  height: 100%;
  width: 80%;
  left: 13%;
  top: 4%;
  z-index: 2;
}
.ornament-why-landing-layer3 {
  border: 1px solid black;
  border-radius: 193px;
  position: absolute;
  height: 100%;
  width: 80%;
  left: 16%;
  top: 6%;
  z-index: 2;
}
.ornament-img-header{
  position: absolute;
  bottom: -17px;
  left: 75px;
}
.ornament-dot-header{
position: absolute;
top: -27px;
right: -37px;
}
.ornament-dot-berita{
  position: relative;
    left: 0;
    bottom: 190px;
  }
.overflow-visible{
  overflow: visible;
}
.header-padding{
  padding-top: 86px;
  padding-bottom: 54px;
}
.p-berita{
  padding-top: 150px;
  padding-bottom: 150px;
}
  .card-contact-landing{
    background-color: #2cd5c41a;
    border-radius: 10px;
    padding: 85px 132px;
  }

  .arrowtext-footer{
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    margin-bottom: 15px;
  }

  .textarrow-footer{
    margin-bottom: 0px;
    padding-left: 18px;
    text-decoration: none;
  }

  .filter-invert{
    filter: invert(1);
  }
  /* collapse main */
  .collapsible {
    background: #2CD5C4;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  
  .activecoll, .collapsible:hover {
    background-color: #25b8a9;
    border-radius: 5px 5px 0px 0px;

  }
  
  .content {
    margin-top: -5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border-radius: 0px 0px 5px 5px;
    display: none;
    overflow: hidden;
    background-color: #2cd5c456;
  }

  button.collapsible:after {
    content: url(../img/closearrow.svg);
    color: white;
    font-weight: bold;
    float: right;
    top:0;
    margin-left: 5px;
    margin-bottom: 5px;
    width: 30px;
    height: 30px;
}
button.collapsible.activecoll:after {
  content: url(../img/openarrow.svg);
}
/* hamburger dashboard user */

  
  /* hamburger */
  .menu-toggle{
display: flex;
flex-direction: column;
height: 15px;
justify-content: space-between;
  }

  .menu-toggle span{
      display: block;
      width: 20px;
      height: 3px;
      background-color: black;
      border-radius: 3px;
      transition: all 0.5s;
  }

/* hamburger animation*/
.menu-toggle.responsive span:nth-child(1){
    transform: rotate(45deg) translate(-1px, -1px);
    transform-origin: 0 0;
}
.menu-toggle.responsive span:nth-child(2){
    transform: scale(0);
}
.menu-toggle.responsive span:nth-child(3){
    transform: rotate(-45deg) translate(-2px, -1px);
    transform-origin: 0 0;
}

  .py-24{
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .py-74{
    padding-top: 74px;
    padding-bottom: 74px;
  }
  .mb-48 {
    margin-bottom: 48px;
  }
  .mb-24 {
    margin-bottom: 24px;
  }
  .mb-16 {
    margin-bottom: 16px;
  }
  .mb-14 {
    margin-bottom: 16px;
  }
  .font-size-24 {
    font-size: 24px;
  }
  .text-black {
    color: black;
  }
  .border-black {
    border-color: black;
  }
  .bg-black {
    background-color: black !important;
  }
  .bg-main {
    background-color: #2cd5c4;
  }
  .bg-main-sub {
    background-color: #b5ebe5;
  }
  .text-main {
    color: #2cd5c4;
  }
  .border-main{
    border: 1px solid #2cd5c4;
  }
  .border-radius-main{
    border-radius: 20px;
    overflow: hidden;
  }

  .topnav {
    overflow: hidden;
    background-color: #ffff;
    padding: 0px 15px;
  }

  .topnav a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 26px 20px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'OoredooBold';
  }

  .topnav a:hover {
    background-color: #2cd5c456;
    color: black;
  }

  .topnav a.logo {
    padding-left: 0px;
  }

  .topnav a.logo:hover {
    background-color: #fff;
    color: black;
  }

  .topnav a.active {
    color: black;
  }

  .topnav .icon {
    display: none;
  }

  hr.navigasi {
    display: none;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: unset;
  }

  .carousel:hover .carousel-control-prev-icon {
    opacity: 1 !important;
  }
  .carousel:hover .carousel-control-next-icon {
    opacity: 1 !important;
  }

  .carousel-control-prev-icon {
    background-image: url("../img/arrowleft.svg") !important;
    width: 40px;
    height: 40px;
    justify-content: start !important;
    opacity: 0;
  }

  .carousel-control-next-icon {
    background-image: url("../img/arrosright.svg") !important;
    width: 40px;
    height: 40px;
    justify-content: end !important;
    opacity: 0;
  }

  .badge-main {
    display: inline-block;
    /* padding: 0.25em em 0.4em; */
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: #2cd5c463;
    width: 48px;
    height: 48px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    padding-top: 10px;
    /* identical to box height */

    letter-spacing: 0.005em;
  }

  .shadowblur.responsive {
    background-color: #2f302e7a;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
  }

  .container-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    .container-main {
      max-width: 1140px;
      padding-right: 24px;
      padding-left: 24px;
      margin-right: auto;
      margin-left: auto;
    }
    
  }

  @media screen and (min-width: 992px) {
    .container-main {
      max-width: 960px;
      padding-right: 24px;
      padding-left: 24px;
      margin-right: auto;
      margin-left: auto;
    }
    .startmill{
      border: 2px solid;
    transform: rotate( 
90deg);
    width: 150%;
    position: relative;
    bottom: 0;
    top: 80%;
    right: 25%;
    }
    .linemill{
      padding-bottom: 130px;
    }
    .linemill-last{
      padding-bottom: 10px;
    }
    .iconmill{
      position: relative;
      z-index: 999;
      filter: grayscale(1);
    }
    .iconmill.active{
      filter:none;
    }
    
  }
  @media screen and (max-width: 768px) {
    .container-main {
      max-width: 720px;
      padding-right: 24px;
      padding-left: 24px;
      margin-right: auto;
      margin-left: auto;
    }
    .icon-contact-landing{
      width: 17px;
    }
    .text-contact-landing{
      font-size: 10px;
      margin-bottom: 20px;
    }
    .card-contact-landing{
      padding: 24px;
    }
    .p-berita{
      padding-top: 48px;
      padding-bottom: 48px;
    }
    .rectangle-line-landing-syarat {
      width: 100.4px;
      height: 102.17px;
      top: 20%;
    }
    .topnavdashboarduser {
      border-bottom: 0px;
  }
.topnav.daftar {
    border-bottom: 0px;
}
.img-berita-landing-big-fit{
  height: 275px;
  object-fit: cover;
  border-radius: 20px;
}

.img-berita-landing-fit{
  height: 275px;
  object-fit: cover;
  border-radius: 20px;
}
  }

  @media screen and (max-width: 500px) {
    .badge-main {
        display: inline-block;
        /* padding: 0.25em em 0.4em; */
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        background-color: #2cd5c463;
        width: 30px;
        height: 30px;
        font-style: normal;
        font-weight: 900;
        font-size: 12px;
        padding-top: 0px;
      }
      .iconmill{
          filter: grayscale(1);
        position: relative;
        width: 24px;
        z-index: 999;
      }
      .iconmill.active{
        filter: none;
      }
    .textarrow-footer{
      font-size: 16px;
    }
    .rectangle-landing{
      width: 12px;
      height: 12px;
    }
    .img-why-landing{
      width: 700px;
      position: relative;
      top: -120px;
    }
    .frame-why-landing {
      height: 189px;
    }
    .img-syarat-landing{
      width: 700px;
      position: relative;
      top: -120px;
    }
    .frame-syarat-landing{
      width: 300px;
height: 205.59px;
      box-shadow: 2px 8px 35px 1px rgba(0, 0, 0, 0.1);
border-radius: 0px 30px 0px 50px;
    }
    .frame-img-details-berita {
      display: flex;
      justify-content: center;
      height: 100%;
      border-radius: 20px;
      width: 100%;
      overflow: hidden;
      text-align: center;
      align-content: center;
  }
  .img-details-berita {
    height: 300px;
}
  }

  @media screen and (min-width: 600px) {
    .container-main {
      max-width: 1300px !important;
      margin: auto;
    }
    .container-nav {
      max-width: 1300px !important;
      margin: auto;
      padding-right: 24px;
    padding-left: 24px;
    }
    .container-nav-daftar {
      max-width: 1520px !important;
      margin: auto;
      padding-right: 24px;
    padding-left: 24px;
    }
    .topnav {
      box-shadow: 2px 10px 20px 5px rgba(0, 0, 0, 0.07);
      /* max-width: 1300px !important; */
      margin: auto;
    }
    a.btn-navdaftar {
      text-align: center;
      background-color: #000;
      border: 1px solid #000;
      padding: 10px;
      display: inline-block;
      color: white;
      /* margin-bottom: 15px; */
      border-radius: 5px;
      padding: 10px 55px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    a.btn-navmasuk {
      text-align: center;
      border: 1px solid #000;
      padding: 10px;
      display: inline-block;
      color: #000;
      border-radius: 5px;
      padding: 10px 55px;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .topnav a.logo {
      margin-right: 30px;
      padding: 10px;
  }
    
  }
  @media screen and (max-width:1230px) {
      .topnav a{
          display: none;
      }
      .topnav a.icon { 
        display: block;
      }
      .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        padding-top: 20px;
      }
      .topnav.responsive a.logo {
        padding-left: 20px;
      }
      .topnav.responsive a.icon {
        padding-left: 0px;
        background-color: #ffff;
        padding-bottom: 0px !important;
      }
      .img-berita-landing-fit{
        max-height: 300px;
        object-fit: cover;
      }
      .img-berita-list-fit{
        max-height: 300px;
        object-fit: cover;
      }
      a.btn-navdaftar {
        display: none;
      }
      a.btn-navmasuk {
        display: none;
      }
      .topnav.responsive a.btn-navdaftar {
        text-align: center;
        background-color: #000;
        border: 1px solid #000;
        padding: 10px;
        display: inline-block;
        color: white;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 10px 60px;
      }

    .topnav a:not(:first-child) {
      display: none;
    }
    .topnav a.icon {
      float: left;
      display: block;
    }
    .topnav {
      /* background-color: #2cd5c4;
      padding: 0px;
      height: 100px; */
      background-color: #ffffff00;
    padding: 0px;
    height: 100px;
    position: absolute;
    z-index: 999;
    }

    .btn-navmasuk a:not(:first-child) {
      display: none !important;
    }

    .topnav.responsive {
      background-color: white;
      width: 70%;
      position: absolute;
      height: 100%;
      z-index: 999;
      transition: all 0.5s;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
      padding-left: 30px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    .topnav.responsive a.btn-navmasuk {
      text-align: center;
      border-color: #000;
      border: 1px solid #000;
      padding: 10px;
      display: inline-block;
      color: #000;
      border-radius: 5px;
      padding: 10px 60px;
    }
    hr.navigasi.responsive {
      border: 1px solid #2f302e;
      opacity: 0.5;
      display: block;
      margin-top: 45px;
      margin-bottom: 20px;
    }
  }